<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Trombin'O'Clock</title>
</head>
<body>
  <h1><%= promo.name %></h1>
  <a href='<%= promo.github_organization %>'>organisation GitHub</a>
</body>
</html>